﻿/* ============================================
 1. 300 x 250
 ==============================================
*/
.widget-300-250p {
	width: 300px;
	height: 250px;
	background: transparent url('300x250p/Base.png') no-repeat scroll left top;
	/*padding-left: 2px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;*/
		position: relative;
			overflow: hidden;
}
.widget-300-250p .widget-300-250p-inner {
	padding-left: 2px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.widget-300-250p .exchange-from-fields {
	width: 299px;
	height: 40px;
	background: transparent url('300x250p/from.png') no-repeat scroll 2px top;
}
.widget-300-250p .exhange-amount-from {
	float: right;
	width: 90px;
	height: 39px;
	line-height: 39px;
	padding-right: 0;
	text-align: right;
	position: relative;
	left: -10px;
}
.widget-300-250p .exhange-amount-to {
	float: right;
	width: 90px;
	height: 39px;
	line-height: 39px;
	text-align: right;
	position: relative;
	left: -10px;
}
.widget-300-250p .exchange-fee {
	width: 299px;
	height: 41px;
	background: transparent url('300x250p/fee.png') no-repeat scroll 3px top;
}
.widget-300-250p .exchange-to-fields {
	width: 299px;
	height: 40px;
	background: transparent url('300x250p/to.png') no-repeat scroll 2px top;
}
.widget-300-250p .toppadding {
	padding-top: 5px;
}
.widget-300-250p .widget-favicons {
	width: 105px;
	height: 52px;
	float: left;
	background: transparent url('300x250p/favicons.png') no-repeat scroll right top;
}
.widget-300-250p .widget-submit-button {
	width: 182px;
	height: 48px;
	margin-right: 6px;
	float: right;
	background: transparent url('300x250p/Convert Button.png') no-repeat scroll left top;
}
.widget-300-250p .widget-logo {
	background: transparent url('300x250p/Logo.png') no-repeat scroll right 12px;
	width:280px;
	height: 64px;
	margin-top: 5px;
}
.widget-300-250p .note {
	width: 133px;
	height: 40px;
	font-size: 11pt;
	text-align: center;
	padding-top: 10px;
/*	background: transparent url('300x250p/Note.png') no-repeat scroll center bottom;*/
}
.widget-300-250p input {
	width: 100%;
	height: 100%;
	border: 0px;
	text-align: right;
	color: #333;
	padding-right:4px;
 	 background: transparent;
 	 -webkit-appearance: none;
}
.widget-300-250p .fee-cost {
	font-size: 9pt;
	font-weight: bold;
}
.widget-300-250p .exchange-fee-left {
	width: 40%;
	height: 100%;
	float: left;
	line-height: 40px;
	height: 40px;
	text-align: right;

}
.widget-300-250p .exchange-fee-right {
	width: 40%;
	height: 100%;
	float: right;
	line-height: 12px;
	height: 33px;
	padding-top: 5px;
}

.widget-300-250p .min-fee {
	font-size: 10pt;
	font-weight: bold;
	/*color: #999999;*/
}
.widget-300-250p .min-fee span {
	font-weight: normal;
}

.widget-300-250p .fee-percentage {
	font-weight: 700;
font-size: 9pt;}
/*
.
*/
.widget-300-250p .type-select-dropdown {
    width: 180px;
    height:40px;
    line-height: 38px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #000;
    padding: 0px 0px 0px 10px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
}
.widget-300-250p .dropdown-menu {
    width: 194px;
    top: 28px;
    padding: 0px 0 0 5px;
    left: 0px;
    z-index: 9999;
    position: absolute;
    bottom: auto;
    right: 0px;
    border-radius: 0px;
    list-style: none;
    height: 108px;}
/*
.widget-300-250p .dropdown-menu {
	display: none;
}
.widget-300-250p .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}
*/
.widget-300-250p .exchange-to {
	margin-top: 93px;
}
.widget-300-250p .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 192px;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;}
.widget-300-250p .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-300-250p .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-300-250p .dropdown-menu li a {
    height: 35px;
    width: 100%;
    padding: 0px;
    float: left;
    line-height: 32px;
}
.widget-300-250p .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 75%;
    float: left;
}
.widget-300-250p .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-300-250p .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
}

.widget-300-250p .item-currency {
    float: right;
    width: 24%;
   /* background-color: #FFF;*/

    height: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 9pt; font-weight: bold;
}
.widget-300-250p .currency-name {
    height: 100%;
    line-height: 35px;
    text-align: left;
    font-size: 9pt;
}
.widget-300-250p button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-300-250p .boldfont {
	font-weight: bold;

}