﻿/* ============================================
 1. 300 x 250
 ==============================================
*/
.widget-300-250 {
	width: 300px;
	height: 250px;
	background: transparent url('300x250/Base.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px;	position: relative;
		overflow: hidden;
}
.widget-300-250 .widget-300-250-inner {
	padding-left: 5px;
	padding-top: 5px;
}
.widget-300-250 .exchange-from-fields {
	width: 290px;
	height: 40px;
	background: transparent url('300x250/from.png') no-repeat scroll right top;
}
.widget-300-250 .exhange-amount-from {
	float: right;
	width: 90px;
	height: 39px;
	line-height: 39px;
	padding-right: 0;
	text-align: right;
	position: relative;
	left: -10px;
}
.widget-300-250 .exhange-amount-to {
	float: right;
	width: 90px;
	height: 39px;
	line-height: 39px;
	text-align: right;
	position: relative;
	left: -10px;

}
.widget-300-250 .exchange-fee {
	width: 290px;
	height: 41px;
	background: transparent url('300x250/fee.png') no-repeat;
}
.widget-300-250 .exchange-to-fields {
	width: 290px;
	height: 40px;
	background: transparent url('300x250/to.png') no-repeat scroll right top;
}
.widget-300-250 .toppadding {
	padding-top: 5px;
}
.widget-300-250 .widget-favicons {
	width: 80px;
	height: 52px;
	float: left;
	background: transparent url('300x250/favicons.png') no-repeat scroll left top;
}
.widget-300-250 .widget-submit-button {
	width: 211px;
	height: 52px;
	float: left;
	background: transparent url('300x250/Convert Button.png') no-repeat scroll right top;
}
.widget-300-250 .widget-logo {
	background: transparent url('300x250/Logo.png') no-repeat scroll left top;
	width: 145px;
	height: 50px;
	margin: 5px auto 0 auto;
}
.widget-300-250 input {
	width: 100%;
	height: 100%;
	border: 0px;
	text-align: right;
	color: #333;
	padding-right:10px;
 	 background: transparent;
 	 -webkit-appearance: none;
}
.widget-300-250 .fee-cost {
	font-size: 9pt;
	font-weight: bold;
}
.widget-300-250 .exchange-fee-left {
	width: 40%;
	height: 100%;
	float: left;
	line-height: 40px;
	height: 40px;
	text-align: right;

}
.widget-300-250 .exchange-fee-right {
	width: 40%;
	height: 100%;
	float: right;
	line-height: 12px;
	height: 33px;
	padding-top: 5px;
}
.widget-300-250 .min-fee {
	font-size: 10pt;
	font-weight: bold;
	/*color: #999999;*/
}
.widget-300-250 .min-fee span {
	font-weight: normal;
}
.widget-300-250 .fee-percentage {
	font-weight: 700;
font-size: 9pt;}
/*
.
*/
.widget-300-250 .type-select-dropdown {
    width: 180px;
    height:40px;
    line-height: 35px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #000;
    padding: 0px 0px 0px 10px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
}
.widget-300-250 .dropdown-menu {
    width: 200px;
    top: 30px;
    padding: 3px 0 0 5px;
    left: 0px;
    z-index: 9999;
    position: absolute;
    bottom: auto;
	right: 0px;
	border-radius: 0px;
	list-style: none;
	height: 108px;
}
/*.widget-300-250 .dropdown-menu {
	display: none;
}
.widget-300-250 .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}*/
.widget-300-250 .exchange-to {
	margin-top: 93px;
}
.widget-300-250 .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 188px;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-300-250 .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-300-250 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-300-250 .dropdown-menu li a {
    height: 35px;
    width: 100%;
    padding: 0px;
    float: left;
    line-height: 32px;
}
.widget-300-250 .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 75%;
    float: left;
}
.widget-300-250 .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-300-250 .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
}

.widget-300-250 .item-currency {
    float: right;
    width: 24%;
   /* background-color: #FFF;*/

    height: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 9pt; font-weight: bold;
}
.widget-300-250 .currency-name {
    height: 100%;
    line-height: 35px;
    text-align: left;
    font-size: 9pt;
}
.widget-300-250 button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-300-250 .boldfont {
	font-weight: bold;

}