﻿/* ============================================
 1. 728 x 90 (PayPal)
 ==============================================
*/
.widget-728-90p {
	width: 728px;
	height: 90px;
	background: transparent url('728x90p/Base.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px;
	position: relative;
	overflow: hidden;
}
.widget-728-90p-inner {
	width: 100%;
	height: 100%;
	background: transparent url('728x90p/dropdown.png') no-repeat scroll 63px 4px;
}
.widget-728-90p .exchange-from-fields {
	width: 191px;
	height: 78px;
	margin: 5px 0 0 4px;
	float: left;
	background: transparent url('728x90p/from.png') no-repeat scroll left top;
}
.widget-728-90p .exhange-amount-from {
	float: right;
	width: 186px;
	height: 37px;
	line-height: 39px;
	padding-right: 0;
	text-align: right;
	position: relative;
	left: -5px;
}
.widget-728-90p .exhange-amount-to {
    float: right;
    width: 189px;
    height: 39px;
    line-height: 39px;
    text-align: right;
    position: relative;
    left: -10px;
}
.widget-728-90p .exchange-fee {
	width: 64px;
	height: 78px;
	float: left;
	margin: 5px 0 0 13px;

}
.widget-728-90p .exchange-to-fields {
    width: 198px;
    height: 78px;
    background: transparent url('728x90p/to.png') no-repeat scroll left top;
    float: left;
    margin: 5px 0 0 6px;
}
.widget-728-90p .toppadding {
	padding-top: 5px;
}
.widget-728-90p .widget-favicons {
	width: 56px;
	height: 82px;
	float: left;
	margin: 5px 0 0 5px;
	background: transparent url('728x90p/favicons.png') no-repeat scroll left top;
}
.widget-728-90p .widget-submit-button {
	width: 43px;
	height: 80px;
	float: left;
	margin-top: 5px;
	background: transparent url('728x90p/Convert Button.png') no-repeat scroll left top;
	
}
.widget-728-90p .widget-logo {
	background: transparent url('728x90p/Logo.png') no-repeat scroll right top;
	width: 132px;
	height: 35px;
	float: left;
	margin: 10px auto 0 auto;
	position: relative;
}
.widget-728-90p .note {
	width: 109px;
	height: 27px;
	top: 43px;
	right: 0;
	/*background: transparent url('728x90p/Note.png') no-repeat scroll left top;*/
	position: absolute;
	
		font-size: 10pt;
	text-align: center;
	line-height: 1em;

}
.widget-728-90p input {
	width: 100%;
	height: 100%;
	border: 0px;
	text-align: right;
	color: #333;
	padding-right:10px;
 	 background: transparent;
 	 -webkit-appearance: none;
}
.widget-728-90p .fee-cost {
	font-size: 9pt;
	font-weight: bold;
}
.widget-728-90p .exchange-fee-left {
	width: 100%;
	float: none;
	line-height: 25px;
	height: 45px;
	text-align: center;

}
.widget-728-90p .exchange-fee-right {
	width: 100%;
	height: 100%;
	float: none;
	line-height: 12px;
	height: 38px;
	text-align: center;
	font-size: 9pt;
	/*font-weight: bold;*/

}
.widget-728-90p .min-fee {
	font-size: 12px;
	font-weight: bold;
	/*color: #999999;*/
}
.widget-728-90p .min-fee span {
	font-weight: normal;
}

.widget-728-90p .fee-percentage {
	font-weight: 700;
font-size: 9pt;}
/*
.
*/
.widget-728-90p .type-select-dropdown {
    width: 180px;
    height:40px;
    line-height: 35px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #000;
    padding: 0px 0px 0px 10px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
}
.widget-728-90p .dropdown-menu {
width: 197px;
top: 0px;
padding: 3px 0px 0px 5px;
left: 59px;
z-index: 9999;
position: absolute;
bottom: auto;
right: 0px;
border-radius: 0px;
height: 77px;
list-style: outside none none;
margin: 2px 0 0 0;}
/*
.widget-728-90p .dropdown-menu {
	display: none;
}
.widget-728-90p .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}
*/
.widget-728-90p .exchange-to {
    margin-top: 3px;
    margin-left: 274px;
}
.widget-728-90p .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 197px;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-728-90p .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-728-90p .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-728-90p .dropdown-menu li a {
    height: 35px;
    width: 100%;
    padding: 0px;
    float: left;
    line-height: 32px;
}
.widget-728-90p .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 75%;
    float: left;
}
.widget-728-90p .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-728-90p .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
}

.widget-728-90p .item-currency {
    float: right;
    width: 24%;
   /* background-color: #FFF;*/

    height: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 9pt; font-weight: bold;
}

    height: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 9pt; font-weight: bold;
}
.widget-728-90p .currency-name {
    height: 100%;
    line-height: 35px;
    text-align: left;
    font-size: 9pt;
}
.widget-728-90p button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-728-90p .boldfont {
	font-weight: bold;

}