﻿/* ============================================
 1. 728 x 90
 ==============================================
*/
.widget-728-90 {
	width: 728px;
	height: 90px;
	background: transparent url('728x90/Base.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px;
		position: relative;
			overflow: hidden;

}
.widget-728-90 .exchange-from-fields {
	width: 191px;
	height: 78px;
	margin: 5px 0 0 4px;
	float: left;
	background: transparent url('728x90/from.png') no-repeat scroll left top;
}
.widget-728-90 .exhange-amount-from {
	float: right;
	width: 181px;
	height: 36px;
	line-height: 39px;
	padding-right: 0;
	text-align: right;
	position: relative;
	left: -10px;
}
.widget-728-90 .exhange-amount-to {
	float: right;
	width: 180px;
	height: 36px;
	line-height: 39px;
	text-align: right;
	position: relative;
	left: -10px;

}
.widget-728-90 .exchange-fee {
	width: 64px;
	height: 78px;
	float: left;
	margin: 5px 0 0 0px;
	background: transparent url('728x90/fee.png') no-repeat scroll left top;
}
.widget-728-90 .exchange-to-fields {
	width: 192px;
	height: 78px;
	background: transparent url('728x90/to.png') no-repeat scroll left top;
	float: left;
	margin: 5px 0 0 0;
}
.widget-728-90 .toppadding {
	padding-top: 5px;
}
.widget-728-90 .widget-favicons {
	width: 52px;
	height: 80px;
	float: left;
	margin: 5px 0 0 5px;
	background: transparent url('728x90/favicons.png') no-repeat scroll left top;
}
.widget-728-90 .widget-submit-button {
	width: 50px;
	height: 80px;
	float: left;
	margin-top: 5px;
	background: transparent url('728x90/Convert Button.png') no-repeat scroll left top;
	
}
.widget-728-90 .widget-logo {
	background: transparent url('728x90/Logo.png') no-repeat scroll right top;
	width: 162px;
	height: 66px;
	float: left;
	margin: 10px auto 0 auto;
}
.widget-728-90 input {
	width: 100%;
	height: 100%;
	border: 0px;
	text-align: right;
	color: #333;
	padding-right:10px;
 	 background: transparent;
 	 -webkit-appearance: none;
}
.widget-728-90 .fee-cost {
	font-size: 9pt;
	font-weight: bold;
}
.widget-728-90 .exchange-fee-left {
	width: 100%;
	float: none;
	line-height: 25px;
	height: 40px;
	text-align: center;

}
.widget-728-90 .exchange-fee-right {
	width: 100%;
	height: 100%;
	float: none;
	line-height: 10px;
	height: 38px;
	text-align: center;

}
.widget-728-90 .min-fee {
   font-size: 12px;
	font-weight: bold;
	/*color: #999999;*/
}
.widget-728-90 .min-fee span {
	font-weight: normal;
}

.widget-728-90 .fee-percentage {
	font-weight: 700;
font-size: 9pt;}
/*
.
*/
.widget-728-90 .type-select-dropdown {
    width: 180px;
    height:40px;
    line-height: 35px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #000;
    padding: 0px 0px 0px 10px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
}
.widget-728-90 .dropdown-menu {

	width: 192px;
top: 0px;
padding: 0px 0px 0px 5px;
left: 57px;
z-index: 9999;
position: absolute;
bottom: auto;
right: 0px;
border-radius: 0px;
list-style: outside none none;
height: 72px;
margin: 6px 0px 0px;
}
/*
.widget-728-90 .dropdown-menu {
	display: none;
}
.widget-728-90 .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}
*/
.widget-728-90 .exchange-to {
	margin-top: 6px;
	margin-left: 255px;
}
.widget-728-90 .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 188px;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-728-90 .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-728-90 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-728-90 .dropdown-menu li a {
    height: 35px;
    width: 100%;
    padding: 0px;
    float: left;
    line-height: 32px;
}
.widget-728-90 .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 75%;
    float: left;
}
.widget-728-90 .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-728-90 .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
}

.widget-728-90 .item-currency {
    float: right;
    width: 24%;
   /* background-color: #FFF;*/

    height: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 9pt; font-weight: bold;
}
.widget-728-90 .currency-name {
    height: 100%;
    line-height: 35px;
    text-align: left;
    font-size: 9pt;
}
.widget-728-90 button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-728-90 .boldfont {
	font-weight: bold;

}