﻿/* ============================================
 1. 180 x 190
 ==============================================
*/
.widget-180-190 {
	width: 180px;
	height: 190px;
	background: transparent url('180x190/bg.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px;
	overflow: hidden;
}
.widget-180-190 .widget-180-190-inner {
	position: relative;
	padding: 1px 0 0 1px;
}
.widget-180-190 .exchange-from-fields {
	width: 130px;
	height: 43px;
	background: transparent url('180x190/from.png') no-repeat scroll right top;
}
.widget-180-190 .exchange-currency {
    float: left;
    width: 68px;
        }
.widget-180-190 .exhange-amount-from {
	float: right;
	width: 50px;
	height: 31px;
	line-height: 31px;
	padding-right: 0;
	text-align: right;
	position: relative;
	left: -4px;
	font-size: 9pt;
	color: #354C88;

}
.widget-180-190 .exhange-amount-to {
	float: right;
	width: 50px;
	height: 31px;
	line-height: 31px;
	text-align: right;
	position: relative;
	left: -4px;
	font-size: 9pt;
	color: #F05A36;
}
.widget-180-190 .exchange-fee {
	width: 45px;
	height: 76px;
	background: transparent url('180x190/fee.png') no-repeat;
	position: absolute;
	top: 1px;
	right: 2px;
}
.widget-180-190 .exchange-to-fields {
	width: 130px;
	height: 33px;
	background: transparent url('180x190/to.png') no-repeat scroll right top;
}
.widget-180-190 .toppadding {
	padding-top: 0px;
}
.widget-180-190 .widget-favicons {
	width: 130px;
	height: 37px;
	float: left;
	background: transparent url('180x190/vliutos.png') no-repeat scroll left top;
}
.widget-180-190 .widget-submit-button {
    width: 47px;
    height: 38px;
    margin-left: 1px;
    float: left;
    background: transparent url('180x190/convert.png') no-repeat scroll right top;
}
.widget-180-190 .widget-logo {
	background: transparent url('180x190/Logo.png') no-repeat scroll left top;
	width: 180px;
	height: 72px;
	margin: 0px auto 0 auto;
}
.widget-180-190 input {
	width: 100%;
	height: 100%;
	border: 0px;
	text-align: right;
	/*color: #333;*/
	padding-right:10px;
 	 background: transparent;
 	 -webkit-appearance: none;
}
.widget-180-190 .fee-cost {
	font-size: 9pt;
	font-weight: bold;
}
.widget-180-190 .exchange-fee-left {
    width: 100%;
    float: none;
    line-height: 22px;
    height: 38px;
    text-align: center;
    color: #F05A36;
}
.widget-180-190 .exchange-fee-right {
	width: 100%;
	height: 30px;
	float: none;
	line-height: 10px;
	height: 38px;
	text-align: center;

}
.widget-180-190 .min-fee {
	font-size: 11px;
	/*color: #999999;*/
}
.widget-180-190 .fee-percentage {
	font-weight: 700;
font-size: 11px;}
/*
.
*/
.widget-180-190 .type-select-dropdown {
    width: 100%;
    height:37px;
    line-height: 35px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #354C88;
    padding: 0px 0px 0px 10px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
    font-weight: bold;
}
.widget-180-190 .dropdown-menu {
    width: 72px;
    top: 21px;
    padding: 0px 0 0 1px;
    left: 0px;
    z-index: 9999;
    position: absolute;
    bottom: auto;
    right: 0px;
    border-radius: 0px;
    list-style: none;
    height: 108px;
}/*
.widget-180-190 .dropdown-menu {
	display: none;
}
.widget-180-190 .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}*/
.widget-180-190 .exchange-to {
	margin-top: 56px;
}
.widget-180-190 .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 100%;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-180-190 .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-180-190 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-180-190 .dropdown-menu li a {
    height: 35px;
    width: 100%;
    padding: 0px;
    float: left;
    line-height: 32px;
}
.widget-180-190 .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 40%;
    float: left;
}
.widget-180-190 .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-180-190 .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
}

.widget-180-190 .item-currency {
    float: right;
    width: 60%;
   /* background-color: #FFF;*/

    height: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 9pt; font-weight: bold;
}
.widget-180-190 .currency-name {
    height: 100%;
    line-height: 35px;
    text-align: left;
    font-size: 9pt;
}
.widget-180-190 button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-180-190 .boldfont {
	font-weight: bold;

}
.widget-468-60 .type-select-dropdown {
    max-height: 18px;
}
