﻿/* ============================================
 1. 250 x 125
 ==============================================
*/
.widget-250-125 {
	width: 250px;
	height: 125px;
	background: transparent url('250x125/bg.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px;
	overflow: hidden;
}
.widget-250-125 .widget-250-125-inner {
	position: relative;
	padding: 4px 0 0 3px;
}
.widget-250-125 .exchange-from-fields {
	width: 130px;
	height: 31px;
	background: transparent url('250x125/from.png') no-repeat scroll right top;
}
.widget-250-125 .exchange-currency {
    float: left;
    width: 68px;
        }
.widget-250-125 .exhange-amount-from {
    float: right;
    width: 48px;
    height: 25px;
    line-height: 25px;
    padding-right: 0;
    text-align: right;
    position: relative;
    left: -4px;
    font-size: 11pt;
    color: #354C88;
}
.widget-250-125 .exhange-amount-to {
	float: right;
	width: 48px;
	height: 25px;
	line-height: 25px;
	text-align: right;
	position: relative;
	left: -4px;
	font-size: 11pt;
	color: #F05A36;
}
.widget-250-125 .exchange-fee {
    width: 51px;
    height: 60px;
    background: transparent url('250x125/fee.png') no-repeat;
    float: left;
    margin-left: 3px;
    }
.widget-250-125 .exchange-to-fields {
	width: 130px;
	height: 27px;
	background: transparent url('250x125/to.png') no-repeat scroll right top;
}
.widget-250-125 .toppadding {
	padding-top: 0px;
}
.widget-250-125 .widget-favicons {
    width: 45px;
    height: 70px;
    float: left;
    margin-left: 9px;
    margin-top: 2px;
    background: transparent url('250x125/vliutos.png') no-repeat scroll left top;
}
.widget-250-125 .widget-submit-button {
    width: 53px;
    height: 38px;
    margin-right: 6px;
    margin-top: 7px;
    float: right;
    background: transparent url('250x125/convert.png') no-repeat scroll right top;
}
.widget-250-125 .widget-logo {
    background: transparent url('250x125/Logo.png') no-repeat scroll left bottom;
    width: 190px;
    height: 55px;
    margin: -5px 0 0 -5px;
    float: left;
    }
.widget-250-125 input {
	width: 100%;
	height: 100%;
	border: 0px;
	text-align: right;
	/*color: #333;*/
	padding-right:10px;
 	 background: transparent;
 	 -webkit-appearance: none;
}
.widget-250-125 .fee-cost {
	font-size: 9pt;
	font-weight: bold;
}
.widget-250-125 .exchange-fee-left {
    width: 100%;
    float: none;
    line-height: 18px;
    height: 26px;
    text-align: center;
    color: #F05A36;
}
.widget-250-125 .exchange-fee-right {
	width: 100%;
	height: 30px;
	float: none;
	line-height: 9px;
	height: 26px;
	text-align: center;

}
.widget-250-125 .min-fee {
	font-size: 11px;
	/*color: #999999;*/
}
.widget-250-125 .fee-percentage {
	font-weight: 700;
font-size: 10pt;}
/*
.
*/
.widget-250-125 .type-select-dropdown {
    width: 100%;
    height:27px;
    line-height: 27px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #354C88;
    padding: 0px 0px 0px 10px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
    font-weight: bold;
}
.widget-250-125 .dropdown-menu {
    width: 75px;
    top: 16px;
    padding: 0px 0 0 3px;
    left: 0px;
    z-index: 9999;
    position: absolute;
    bottom: auto;
    right: 0px;
    border-radius: 0px;
    list-style: none;
    height: 108px;
}/*
.widget-250-125 .dropdown-menu {
	display: none;
}
.widget-250-125 .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}*/
.widget-250-125 .exchange-to {
	margin-top: 43px;
}
.widget-250-125 .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 100%;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-250-125 .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-250-125 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-250-125 .dropdown-menu li a {
height: 21px;
width: 100%;
padding: 0px;
float: left;
line-height: 18px;    

}
.widget-250-125 .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 40%;
    float: left;
}
.widget-250-125 .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-250-125 .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
}

.widget-250-125 .item-currency {
	float: right;
	width: 60%;
	height: 100%;
	line-height: 21px;
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
}
.widget-250-125 .currency-name {
    height: 100%;
    line-height: 35px;
    text-align: left;
    font-size: 9pt;
}
.widget-250-125 button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-250-125 .boldfont {
	font-weight: bold;
}
.widget-250-125 .float-left-wrapper {
	float: left;
}
.widget-468-60 .type-select-dropdown {
    max-height: 18px;
}
