﻿/* ============================================
 1. 468 x 60
 ==============================================
*/
.widget-468-60 {
	width: 468px;
	height: 60px;
	background: transparent url('468x60/bg.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px;
	overflow: hidden;
	/*transform: scale(0.642857,0.6666667);*/
	/*margin-top: -15px;
	margin-left: -129px;	*/
}
.widget-468-60 .widget-468-60-inner {
	position: relative;
	padding: 2px 0 0 2px;
}
.widget-468-60 .exchange-from-fields {
	width: 153px;
	height: 30px;
		background: transparent url('468x60/from.png') no-repeat scroll right top;
}
.widget-468-60 .exchange-currency {
    float: left;
    width: 107px;
        }
.widget-468-60 .exhange-amount-from {
    float: right;
    width: 38px;
    height: 21px;
    line-height: 21px;
    padding-right: 0;
    text-align: right;
    position: relative;
    left: -4px;
    font-size: 9pt;
    color: #354C88;
    }
.widget-468-60 .exhange-amount-to {
	float: right;
	width: 38px;
	height: 21px;
	line-height: 21px;
	text-align: right;
	position: relative;
	left: -4px;
	font-size: 9pt;
	color: #F05A36;
}
.widget-468-60 .exchange-fee {
    width: 48px;
height: 52px;    background: transparent url('468x60/fee.png') no-repeat center 16px;
    float: left;
 }
.widget-468-60 .exchange-to-fields {
	width: 153px;
	height: 33px;
	background: transparent url('468x60/to.png') no-repeat scroll right top;
}
.widget-468-60 .toppadding {
	padding-top: 0px;
}
.widget-468-60 .widget-favicons {
    width: 71px;
    height: 52px;
    float: left;
    background: transparent url('468x60/vliutos.png') no-repeat scroll left top;
}
.widget-468-60 .widget-submit-button {
    width: 35px;
    height: 52px;
    margin-left: 5px;

    float: left;
    background: transparent url('468x60/convert.png') no-repeat scroll right top;
}
.widget-468-60 .widget-logo {
    background: transparent url('468x60/Logo.png') no-repeat scroll left bottom;
    width: 158px;
    height: 56px;
    margin: -1px 0 0 -5px;
    float: left;
    }
.widget-468-60 input {
	width: 100%;
	height: 100%;
	border: 0px;
	text-align: right;
	/*color: #333;*/
	padding-right:10px;
 	 background: transparent;
 	 -webkit-appearance: none;
}
.widget-468-60 .fee-cost {
}
.widget-468-60 .exchange-fee-left {
	width: 100%;
	float: none;
	line-height: 19px;
	height: 24px;
	text-align: center;
	color: #F05A36;
	font-weight: bold;
	font-size: 10pt;
}
.widget-468-60 .exchange-fee-right {
	width: 100%;
	height: 30px;
	float: none;
	
	height: 26px;
	
	line-height: 8px;
	text-align: center;

}
.widget-468-60 .min-fee {
font-size: 9px;
font-weight: bold;
color: #354C88;}
.widget-468-60 .fee-percentage {
}
/*
.
*/
.widget-468-60 .type-select-dropdown {
    width: 100%;
	height: 22px;
	line-height: 22px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #354C88;
    padding: 0px 0px 0px 10px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
    font-weight: bold;
}
.widget-468-60 .dropdown-menu {
    width: 105px;
    top: 25px;
    padding: 0px 0 0 5px;
    left: 0px;
    z-index: 9999;
    position: absolute;
    bottom: auto;
    right: 0px;
    border-radius: 0px;
    list-style: none;
    height: 108px;
    
width: 104px;
top: 0px;
padding: 0px 0px 0px 3px;
left: 0px;
z-index: 9999;
position: absolute;
bottom: auto;
right: 0px;
border-radius: 0px;
list-style: outside none none;
height: 24px;margin: 5px 0px 0px;
}/*
.widget-468-60 .dropdown-menu {
	display: none;
}
.widget-468-60 .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}*/
.widget-468-60 .exchange-to {
	margin-top: 34px;
}
.widget-468-60 .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 100%;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-468-60 .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-468-60 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-468-60 .dropdown-menu li a {
height: 22px;
width: 100%;
padding: 0px;
float: left;
line-height: 21px;
}
.widget-468-60 .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 40%;
    float: left;
}
.widget-468-60 .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 0px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-468-60 .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
}

.widget-468-60 .item-currency {
float: right;
width: 23%;
height: 100%;
line-height: 21px;
text-align: center;
font-size: 7pt;
font-weight: bold;}
.widget-468-60 .currency-name {
line-height: 21px;
text-align: left;
font-size: 7pt;
}
.widget-468-60 button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-468-60 .boldfont {
	font-weight: bold;
}
.widget-468-60 .float-left-wrapper {
	float: left;
}
.widget-468-60 .type-select-dropdown {
    max-height: 18px;
}
