﻿/* ============================================
 1. 728 x 90
 ==============================================
*/
.widget-728-90 {
	width: 728px;
	height: 90px;
	background: transparent url('728x90/bg.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px;
	overflow: hidden;
}
.widget-728-90 .widget-728-90-inner {
	position: relative;
	padding: 5px 0 0 5px;
}
.widget-728-90 .exchange-from-fields {
	width: 238px;
	height: 41px;
	background: transparent url('728x90/from.png') no-repeat scroll right top;
}
.widget-728-90 .exchange-currency {
    float: left;
    width: 156px;
        }
.widget-728-90 .exhange-amount-from {
    float: right;
    width: 62px;
    height: 30px;
    line-height: 30px;
    padding-right: 0;
    text-align: right;
    position: relative;
    left: -4px;
    font-size: 11pt;
    color: #354C88;
    }
.widget-728-90 .exhange-amount-to {
	float: right;
	width: 62px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	position: relative;
	left: -4px;
	font-size: 11pt;
	color: #F05A36;
}
.widget-728-90 .exchange-fee {
    width: 73px;
    height: 78px;
    background: transparent url('728x90/fee.png') no-repeat center 26px;
    float: left;
 }
.widget-728-90 .exchange-to-fields {
	width: 238px;
	height: 33px;
	background: transparent url('728x90/to.png') no-repeat scroll right top;
}
.widget-728-90 .toppadding {
	padding-top: 0px;
}
.widget-728-90 .widget-favicons {
    width: 111px;
    height: 78px;
    float: left;
    background: transparent url('728x90/vliutos.png') no-repeat scroll left top;
}
.widget-728-90 .widget-submit-button {
    width: 54px;
    height: 78px;
    margin-left: 5px;

    float: left;
    background: transparent url('728x90/convert.png') no-repeat scroll right top;
}
.widget-728-90 .widget-logo {
    background: transparent url('728x90/Logo.png') no-repeat scroll left bottom;
    width: 246px;
    height: 86px;
    margin: -5px 0 0 -5px;
    float: left;
    }
.widget-728-90 input {
	width: 100%;
	height: 100%;
	border: 0px;
	text-align: right;
	/*color: #333;*/
	padding-right:10px;
 	 background: transparent;
 	 -webkit-appearance: none;
}
.widget-728-90 .fee-cost {
}
.widget-728-90 .exchange-fee-left {
    width: 100%;
    float: none;
    line-height: 30px;
    height: 43px;
    text-align: center;
    color: #F05A36;
    font-weight: bold;
    font-size: 12pt;
}
.widget-728-90 .exchange-fee-right {
	width: 100%;
	height: 30px;
	float: none;
	line-height: 11px;
	height: 26px;
	text-align: center;

}
.widget-728-90 .min-fee {
	font-size: 10pt;
	font-weight: bold;
	color: #354C88;
}
.widget-728-90 .fee-percentage {
}
/*
.
*/
.widget-728-90 .type-select-dropdown {
    width: 100%;
    height:33px;
    line-height: 33px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #354C88;
    padding: 0px 0px 0px 10px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
    font-weight: bold;
}
.widget-728-90 .dropdown-menu {
	width: 165px;
	top: 0px;
	padding: 0px 0px 0px 5px;
	left: 0px;
	z-index: 9999;
	position: absolute;
	bottom: auto;
	right: 0px;
	border-radius: 0px;
	list-style: outside none none;
	height: 36px;
	margin: 6px 0 0 0;
}/*
.widget-728-90 .dropdown-menu {
	display: none;
}
.widget-728-90 .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}*/
.widget-728-90 .exchange-to {
	margin-top: 47px;
}
.widget-728-90 .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 100%;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-728-90 .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-728-90 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-728-90 .dropdown-menu li a {
    height: 35px;
    width: 100%;
    padding: 0px;
    float: left;
    line-height: 33px;
}
.widget-728-90 .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 40%;
    float: left;
}
.widget-728-90 .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-728-90 .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
}

.widget-728-90 .item-currency {
    float: right;
    width: 23%;
   /* background-color: #FFF;*/

    height: 100%;
    line-height: 35px;
    text-align: center;
    font-size: 9pt; font-weight: bold;
}
.widget-728-90 .currency-name {
    height: 100%;
    line-height: 35px;
    text-align: left;
    font-size: 9pt;
}
.widget-728-90 button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-728-90 .boldfont {
	font-weight: bold;
}
.widget-728-90 .float-left-wrapper {
	float: left;
}
.widget-468-60 .type-select-dropdown {
    max-height: 18px;
}
