﻿/* ============================================
 1. 125 x 125 PAYPAL
 ==============================================
*/
.widget-125-125 {
	width: 125px;
	height: 125px;
	background: transparent url('125x125p/bg.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px
}
.widget-125-125 .widget-125-125-inner {
	position: relative;
	padding: 3px 0 0 0px;
}
.widget-125-125 .exchange-from-fields {
	width: 125px;
	height: 24px;
	background: transparent url('125x125p/from.png') no-repeat scroll right top;
}
.widget-125-125 .exchange-currency {
    float: left;
    width: 92px;
        }
.widget-125-125 .exhange-amount-from {
    float: right;
    width: 28px;
    height: 19px;
    line-height: 21px;
    padding-right: 0;
    text-align: center;
    font-size: 9pt;
    color: #354C88;
    }
.widget-125-125 .exhange-amount-to {
    float: right;
    width: 27px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    position: relative;
    left: 0px;
    font-size: 8pt;
    color: #F05A36;
    font-weight: bold;
}
.widget-125-125 .exchange-fee {
	width: 97px;
	height: 29px;
	background: transparent url('125x125p/fee.png') no-repeat;
	font-size: 10px;
	text-align: center;
	line-height: 1.4em;
	color: #F05A36;
	font-weight:bold;
	float: left;
}
.widget-125-125 .exchange-to-fields {
	width: 124px;
	height: 21px;
	background: transparent url('125x125p/to.png') no-repeat scroll right top;
}
.widget-125-125 .widget-submit-button {
    width: 27px;
    height: 29px;
    margin-left: 0px;
    float: left;
    background: transparent url('125x125p/convert.png') no-repeat scroll right top;
}
.widget-125-125 .widget-logo {
    background: transparent url('125x125p/Logo.png') no-repeat scroll left bottom;
    width: 123px;
    height: 48px;
    margin: 0px auto 0 auto;
}
.widget-125-125 input {
width: 100%;
    height: 100%;
    border: 0px;
    text-align: center;
    /* color: #333; */
    padding-right: 0px;
    background: transparent;
    -webkit-appearance: none;
    }
.widget-125-125 .type-select-dropdown {
    width: 100%;
    height: 21px;
    line-height: 21px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #354C88;
    padding: 0px 0px 0px 2px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
    font-weight: bold;}
.widget-125-125 .type-select-dropdown img{
	margin-top: 2px;
}
.widget-125-125 .dropdown-menu {
    width: 93px;
    top: 10px;
    padding: 0px 0 0 1px;
    left: 0px;
    z-index: 9999;
    position: absolute;
    bottom: auto;
    right: 0px;
    border-radius: 0px;
    list-style: none;
    height: 108px
}
.widget-125-125 .exchange-to-fields span {
    font-size: 8pt;
    display: inline-block;
    padding-left: 23px;
}
/*
.widget-125-125 .dropdown-menu {
	display: none;
}
.widget-125-125 .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}*/
.widget-125-125 .exchange-to {
	margin-top: 53px;
}
.widget-125-125 .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 100%;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-125-125 .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-125-125 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-125-125 .dropdown-menu li a {
    height: 28px;
    width: 100%;
    padding: 0px;
    float: left;
    line-height: 28px;
    }
.widget-125-125 .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 25%;
    float: left;
}
.widget-125-125 .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-125-125 .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
        top: 0px !important;
	height: auto !important;

}

.widget-125-125 .item-currency {
    float: right;
    width: 75%;
    height: 100%;
    text-align: center;
    font-size: 9pt; 
    font-weight: bold;
}
.widget-125-125 .currency-name {
    height: 100%;
    line-height: 35px;
    text-align: left;
    font-size: 9pt;
}
.widget-125-125 button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-125-125 img.dropdown-payment {
	height: 11px;
}
