﻿/* ============================================
 1. 180 x 190 PAYPAL
 ==============================================
*/
.widget-180-190 {
	width: 180px;
	height: 190px;
	background: transparent url('180x190p/bg.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px
}
.widget-180-190 .widget-180-190-inner {
	position: relative;
	padding: 5px 0 0 2px;
}
.widget-180-190 .exchange-from-fields {
	width: 176px;
	height: 32px;
	background: transparent url('180x190p/from.png') no-repeat scroll right top;
}
.widget-180-190 .exchange-currency {
    float: left;
    width: 136px;
        }
.widget-180-190 .exhange-amount-from {
    float: right;
    width: 36px;
    height: 23px;
    line-height: 23px;
    padding-right: 0;
    text-align: center;
    font-size: 10pt;
    color: #354C88;
    }
.widget-180-190 .exhange-amount-to {
    float: right;
    width: 36px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    position: relative;
    left: 0px;
    font-size: 11pt;
    color: #F05A36;
    font-weight: bold;
}
.widget-180-190 .exchange-fee {
    width: 136px;
    height: 40px;
    background: transparent url('180x190p/fee.png') no-repeat;
    font-size: 13px;
    text-align: center;
    line-height: 1.2em;
    color: #F05A36;
    font-weight: bold;
    float: left;
    padding-top: 5px;
    margin-top: 5px;}
.widget-180-190 .exchange-to-fields {
	width: 176px;
	height: 28px;
	background: transparent url('180x190p/to.png') no-repeat scroll right top;
}
.widget-180-190 .widget-submit-button {
width: 38px;
    height: 40px;
    margin-left: 1px;
    float: left;
    background: transparent url('180x190p/convert.png') no-repeat scroll right top;
    margin-top: 5px;
}
.widget-180-190 .widget-logo {
    background: transparent url('180x190p/Logo.png') no-repeat scroll right bottom;
    width: 177px;
    height: 76px;
    margin: 0px auto 0 auto;
}
.widget-180-190 input {
width: 100%;
    height: 100%;
    border: 0px;
    text-align: center;
    /* color: #333; */
    padding-right: 0px;
    background: transparent;
    -webkit-appearance: none;
    }
.widget-180-190 .type-select-dropdown {
    width: 100%;
    height: 24px;
    line-height: 24px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #354C88;
    padding: 0px 0px 0px 2px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
    font-weight: bold;}
.widget-180-190 .type-select-dropdown img{
	margin-top: 2px;
}
.widget-180-190 .dropdown-menu {
    width: 135px;
    top: 19px;
    padding: 0px 0 0 1px;
    left: 0px;
    z-index: 9999;
    position: absolute;
    bottom: auto;
    right: 0px;
    border-radius: 0px;
    list-style: none;
    height: 108px
}
.widget-180-190 .exchange-to-fields span {
    font-size: 8pt;
    display: inline-block;
    padding-left: 23px;
}
/*
.widget-180-190 .dropdown-menu {
	display: none;
}
.widget-180-190 .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}*/
.widget-180-190 .exchange-to {
	margin-top: 53px;
}
.widget-180-190 .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 100%;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-180-190 .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-180-190 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-180-190 .dropdown-menu li a {
    height: 28px;
    width: 100%;
    padding: 0px;
    float: left;
    line-height: 28px;
    }
.widget-180-190 .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 20%;
    float: left;
}
.widget-180-190 .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 0px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-180-190 .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
        top: 0px !important;
	height: auto !important;

}

.widget-180-190 .item-currency {
    float: right;
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 8pt; 
    font-weight: bold;
}
.widget-180-190 .currency-name {
    height: 100%;
    text-align: left;
    font-size:8pt;
}
.widget-180-190 button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-180-190 img.dropdown-payment {
    height: 15px;
    position: relative;
    top: 3px;
}