﻿/* ============================================
 1. 250 x 125 PAYPAL
 ==============================================
*/
.widget-250-125 {
	width: 250px;
	height: 125px;
	background: transparent url('250x125p/bg.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px
}
.widget-250-125 .widget-250-125-inner {
	position: relative;
	padding: 6px 0 0 6px;
}
.widget-250-125 .exchange-from-fields {
	width: 193px;
	height: 33px;
	background: transparent url('250x125p/from.png') no-repeat scroll right top;
}
.widget-250-125 .exchange-currency {
    float: left;
    width: 135px;
        }
.widget-250-125 .exhange-amount-from {
    float: right;
    width: 53px;
    height: 26px;
    line-height: 26px;
    padding-right: 0;
    text-align: center;
    font-size: 10pt;
    color: #354C88;
    }
.widget-250-125 .exhange-amount-to {
    float: right;
    width: 53px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    position: relative;
    left: 0px;
    font-size: 11pt;
    color: #F05A36;
    font-weight: bold;
}
.widget-250-125 .exchange-fee {
    width: 238px;
    height: 22px;
    background: transparent url('250x125p/fee.png') no-repeat;
    font-size: 13px;
    text-align: center;
    line-height: 1.5em;
    color: #F05A36;
    font-weight: bold;
    float: left;
    padding-top: 2px;
    margin-top: 2px;}
.widget-250-125 .exchange-to-fields {
	width: 193px;
	height: 28px;
	background: transparent url('250x125p/to.png') no-repeat scroll right top;
}
.widget-250-125 .widget-submit-button {
    width: 41px;
    height: 65px;
    margin-left: 4px;
    float: left;
    background: transparent url('250x125p/convert.png') no-repeat scroll right top;
    margin-top: -2px;
    }
.widget-250-125 .widget-logo {
    background: transparent url('250x125p/Logo.png') no-repeat scroll right bottom;
    width: 236px;
    height: 31px;
    margin: 0px auto 0 auto;    }
.widget-250-125 input {
width: 100%;
    height: 100%;
    border: 0px;
    text-align: center;
    /* color: #333; */
    padding-right: 0px;
    background: transparent;
    -webkit-appearance: none;
    }
.widget-250-125 .type-select-dropdown {
    width: 100%;
    height: 24px;
    line-height: 24px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #354C88;
    padding: 0px 0px 0px 2px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
    font-weight: bold;}
.widget-250-125 .type-select-dropdown img{
	margin-top: 2px;
}
.widget-250-125 .dropdown-menu {
    width: 135px;
    top: 20px;
    padding: 0px 0 0 1px;
    left: 0px;
    z-index: 9999;
    position: absolute;
    bottom: auto;
    right: 0px;
    border-radius: 0px;
    list-style: none;
    height: 108px;}
.widget-250-125 .exchange-to-fields span {
    font-size: 9pt;
    display: inline-block;
    padding-left: 34px;
    line-height: 32px;
}/*
.widget-250-125 .dropdown-menu {
	display: none;
}
.widget-250-125 .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}*/
.widget-250-125 .exchange-to {
	margin-top: 53px;
}
.widget-250-125 .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 100%;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-250-125 .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-250-125 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-250-125 .dropdown-menu li a {
    height: 28px;
    width: 100%;
    padding: 0px;
    float: left;
    line-height: 28px;
    }
.widget-250-125 .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 20%;
    float: left;
}
.widget-250-125 .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 0px;
    display: inline-block;
    padding: 5px 0px;
}
.widget-250-125 .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
        top: 0px !important;
	height: auto !important;

}

.widget-250-125 .item-currency {
    float: right;
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 8pt; 
    font-weight: bold;
}
.widget-250-125 .currency-name {
    height: 100%;
    text-align: left;
    font-size:8pt;
}
.widget-250-125 button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-250-125 .wrap-float-left {
	float: left;
}
.widget-250-125 img.dropdown-payment {
    height: 15px;
	position: relative;
	top: 3px;
}
