﻿/* ============================================
 1. 500 x 35 PAYPAL
 ==============================================
*/
.widget-500-35 {
	width: 500px;
	height: 35px;
	background: transparent url('500x35p/bg.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px;
	overflow: hidden;
}
.widget-500-35 .widget-500-35-inner {
	position: relative;
	padding: 1px 0 0 5px;
}
.widget-500-35 .exchange-from-fields {
	width: 184px;
	height: 30px;
	background: transparent url('500x35p/from.png') no-repeat scroll right top;
	float: left
}
.widget-500-35 .exchange-currency {
    float: left;
    width: 138px;
        }
        .fix {
	width: 130px !important;
}
.widget-500-35 .exhange-amount-from {
    float: left;
    width: 36px;
    height: 26px;
    line-height: 26px;
    padding-right: 0;
    text-align: center;
    font-size: 10pt;
    color: #354C88;
    margin-left: 3px;    }
.widget-500-35 .exhange-amount-to {
float: right;
    width: 36px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: relative;
    left: 0px;
    font-size: 11pt;
    color: #F05A36;
    font-weight: bold;
}/*
.exchange-fee {
    width: 167px;
    height: 37px;
    background: transparent url('250x190p/fee.png') no-repeat;
    font-size: 14px;
    text-align: center;
    line-height: 1.2em;
    color: #F05A36;
    font-weight: bold;
    float: left;
    padding-top: 3px;
    margin-top: 3px;}*/
.widget-500-35 .exchange-to-fields {
	width: 169px;
	height: 30px;
	float: left;
	background: transparent url('500x35p/to.png') no-repeat scroll right top;
}
.widget-submit-button {
    width: 23px;
    height: 27px;
    margin-left: 1px;
    float: left;
    background: transparent url('500x35p/convert.png') no-repeat scroll right top;
    margin-top: 1px;
}
.widget-500-35 .widget-logo {
    background: transparent url('500x35p/Logo.png') no-repeat scroll right 3px;
    width: 117px;
    height: 35px;
    margin: 0px auto 0 auto;
    float: right;
}
.widget-500-35 input {
width: 100%;
    height: 100%;
    border: 0px;
    text-align: center;
    /* color: #333; */
    padding-right: 0px;
    background: transparent;
    -webkit-appearance: none;
    }
.widget-500-35 .type-select-dropdown {
    width: 100%;
    height: 24px;
    line-height: 24px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #354C88;
    padding: 0px 0px 0px 2px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
    font-weight: bold;}
.widget-500-35 .type-select-dropdown img{
	margin-top: 2px;
}
.widget-500-35 .dropdown-menu {
	width: 137px;
	top: 1px;
	padding: 0px 0px 0px 5px;
	left: 0px;
	z-index: 9999;
	position: absolute;
	bottom: auto;
	right: 0px;
	border-radius: 0px;
	list-style: outside none none;
	height: 34px;
	margin: 0;
}
.widget-500-35 .exchange-to-fields span {
    font-size: 9pt;
    display: inline-block;
    padding-left: 34px;
    line-height: 32px;
}/*
.widget-500-35 .dropdown-menu {
	display: none;
}
.widget-500-35 .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}*/
.widget-500-35 .exchange-to {
	margin-top: 53px;
}
.widget-500-35 .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 100%;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-500-35 .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-500-35 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-500-35 .dropdown-menu li a {
    height: 28px;
    width: 100%;
    padding: 0px;
    float: left;
    line-height: 28px;
    }
.widget-500-35 .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 75%;
    float: left;
}
.widget-500-35 .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 0px;
    display: inline-block;
    padding: 5px 0px;
    padding-right: 5px;
}
.widget-500-35 .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
        top: 0px !important;
	height: auto !important;

}

.widget-500-35 .item-currency {
    float: right;
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 8pt; 
    font-weight: bold;
}
.widget-500-35 .currency-name {
    height: 100%;
    text-align: left;
    font-size: 8pt;
    
}
.widget-500-35 button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-500-35 img.dropdown-payment {
	height: 18px;
	position: relative;
	top: 5px;
}
