﻿/* ============================================
 1. 728 x 90 PAYPAL
 ==============================================
*/
.widget-728-90p {
	width: 728px;
	height: 90px;
	background: transparent url('728x90p/bg.png') no-repeat scroll left top;
	padding-left: 0px;
	padding-top: 0px
}
.widget-728-90p .widget-728-90p-inner {
	position: relative;
	padding: 5px 0 0 5px;
}
.widget-728-90p .exchange-from-fields {
	width: 238px;
	height: 45px;
	background: transparent url('728x90p/from.png') no-repeat scroll right top;
}
.widget-728-90p .exchange-currency {
    float: left;
    width: 167px;
        }
.widget-728-90p .exhange-amount-from {
    float: right;
    width: 66px;
    height: 32px;
    line-height:32px;
    padding-right: 0;
    text-align: center;
    font-size: 12pt;
    color: #354C88;
    }
.widget-728-90p .exhange-amount-to {
    float: right;
    width: 66px;
    height: 32px;
    line-height:32px;
    text-align: center;
    position: relative;
    left: 0px;
    font-size: 14pt;
    color: #F05A36;
    font-weight: bold;
}
.widget-728-90p .exchange-fee {
    width: 167px;
    height: 62px;
    background: transparent url('728x90p/fee.png') no-repeat;
    font-size: 18px;
    text-align: center;
    line-height: 1.2em;
    color: #354C88;
    font-weight: bold;
    float: left;
    padding-top: 16px;
    margin-top: 0;
    margin-left: 5px;}
.widget-728-90p .exchange-to-fields {
	width: 238px;
	height: 33px;
	background: transparent url('728x90p/to.png') no-repeat scroll right top;
}
.widget-728-90p .widget-submit-button {
    width: 64px;
    height: 77px;
    margin-left: 4px;
    float: left;
    background: transparent url('728x90p/convert.png') no-repeat scroll right top;
    margin-top: 0px;
}
.widget-728-90p .widget-logo {
    background: transparent url('728x90p/Logo.png') no-repeat scroll right bottom;
    width: 242px;
    height: 86px;
    margin: -4px 0 0 0;
    float: left;
}
.widget-728-90p input {
width: 100%;
    height: 100%;
    border: 0px;
    text-align: center;
    /* color: #333; */
    padding-right: 0px;
    background: transparent;
    -webkit-appearance: none;
    }
.widget-728-90p .type-select-dropdown {
    width: 100%;
    height: 24px;
    line-height: 24px;
    float: left;
    text-align: left;
    border: 0px none;
    color: #354C88;
    padding: 0px 0px 0px 2px;
    background: transparent;
    font-size: 10pt;
    cursor: pointer;
    font-weight: bold;}
.widget-728-90p .type-select-dropdown img{
	margin-top: 2px;
}
.widget-728-90p .dropdown-menu {
	width: 165px;
	top: 6px;
	padding: 0px 0px 0px 5px;
	left: 0px;
	z-index: 9999;
	position: absolute;
	bottom: auto;
	right: 0px;
	border-radius: 0px;
	list-style: outside none none;
	height: 108px;
	margin: 0 0 0 0;
    }
.widget-728-90p .exchange-to-fields span {
    font-size: 10pt;
    display: inline-block;
    padding-left: 53px;
    line-height: 34px;
}
/*
.widget-728-90p .dropdown-menu {
	display: none;
}
.widget-728-90p .dropdown-toggle:hover > .dropdown-menu {
	display: block;
}
*/
.widget-728-90p .exchange-to {
	margin-top: 53px;
}
.widget-728-90p .dropdown-menu li {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 100%;
    background: white;
    border: 1px #C0C0C0 solid;
    border-top: 0px;
}
.widget-728-90p .dropdown-menu li:hover {
	background: #fbfbfb;
}
.widget-728-90p .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}

.widget-728-90p .dropdown-menu li a {
	height: 26px;
	width: 100%;
	padding: 0px;
	float: left;
	line-height: 26px;
    }
.widget-728-90p .dropdown-menu li a .item-inside {
    padding: 0px;
    width: 75%;
    float: left;
}
.widget-728-90p .dropdown-menu .image-holder {
    float: left;
    width: 30px;
    text-align: center;
    margin-right: 0px;
    display: inline-block;
    padding: 5px 0px;
    padding-right: 5px;
}
.widget-728-90p .dropdown-menu img {
    display: inline;
    max-height: 18px;
    max-width: 100%;
    float: none;
    text-align: center;
    margin-top: -20px;
        top: 0px !important;
	height: auto !important;

}

.widget-728-90p .item-currency {
    float: right;
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 8pt; 
    font-weight: bold;
}
.widget-728-90p .currency-name {
    height: 100%;
    text-align: left;
    font-size: 9pt;
    
}
.widget-728-90p button.submit {
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0px;
}
.widget-728-90p .wrapper-float-left{
	float: left;
}
.widget-728-90p img.dropdown-payment {
	height: 19px;
	top: 5px;
	position: relative;
}
